/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: red;
}

/* Clear Fix */

.clearfix::after {
    clear: both;
    display: block;
    content:'';
}

/* Header & Body */

body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    text-align: center;
    margin: 2rem;
}


/* Grid System */

.column {

    width: calc(100% / 3);
    float: left;
    padding: 1rem;

}

.row {
    margin: -1rem;

}

/* Content */

h2 {
    padding-bottom: 0.3rem;
    margin-top: none;
    
}
.card {
    height: 100px;
    background-color: #0F0E17;
    color: white;
}

.card > img {
    
    max-height: 100px;
    float: left;
    margin-right: 1rem;
}

p {
    margin: 1rem;
    text-align: center;
}

.membro-team {
    padding: 1rem;
    line-height: 1.5rem;
}